#!/bin/sh

# ------------------------------ #
#         good manners           #
# ------------------------------ #
alias plz="sudo"


# ------------------------------ #
#              misc              #
# ------------------------------ #
alias upd="sudo apt update"
alias upg="sudo apt -y upgrade"
alias updg="sudo apt update && sudo apt -y upgrade"
alias zshrc="vim ~/.zshrc"
alias sourcez="source ~/.zshrc"
alias pingd="ping duckduckgo.com"
alias tohex="printf '%d\n'"
alias cpssh="cat ~/.ssh/id_rsa.pub | clipcp"
# alias dud="du -d 1 -h"
# alias duf="du -sh"
alias https="http --default-scheme=https"
alias brave="brave-browser"
alias ipp="curl ipinfo.io/ip"
alias ipw="ip addr show dev wlp2s0"
# alias ipe="ip addr show dev eth"
alias zshconf="vim ~/.zshrc"
alias vimconf="vim ~/.vimrc"
# alias vscconf="vim ~/.config/Code"
alias x="xclip -selection clipboard -in"          # cut to clipboard
alias v="xclip -selection clipboard -out"         # paste from clipboard
alias c="xclip -selection clipboard -in -filter"  # copy clipboard
# ddccontrol
alias codium="codium --extensions-dir ~/.config/VSCodium/User/extensions"
alias dotfiles="codium ~/dotfiles"

# ------------------------------ #
#              vpn               #
# ------------------------------ #
alias nordc="nordvpn connect"
alias nordd="nordvpn disconnect"
alias nords="nordvpn status"


# ------------------------------ #
#             docker             #
# ------------------------------ #
dockerfile() { docker run --rm -v /var/run/docker.sock:/var/run/docker.sock chenzj/dfimage $(docker images --filter=reference=$1 --format "{{.ID}}") }
# docker-compose
alias dk="docker-compose"
# docker container
alias dc="docker container"
alias dcri="docker container run -it"
alias dcrd="docker container run -d"
alias dcei="docker container exec -it"
alias dcls="docker container ls"
alias dclsl="docker container ls -l"
alias dclslq="docker container ls -l -q"
alias dclsa="docker container ls -a"
alias dclsaq="docker container ls -a -q"
alias dcrm="docker container rm"
alias dcip="docker container inspect --format '{{ .NetworkSettings.IPAddress }}' "
dcrml() { if [ $(dclslq | wc -l) != 0 ]; then docker container rm $(dclslq); fi }
dcrma() { if [ $(dclsaq | wc -l) != 0 ]; then docker container rm $(dclsaq); fi }
dcrmaf() { if [ $(dclsaq | wc -l) != 0 ]; then docker container rm -f $(dclsaq); fi }
# docker image
alias di="docker image"
alias dils="docker image ls"
alias dirm="docker image rm"
alias disha="docker image inspect --format='{{ index .RepoDigests 0 }}'"
# docker service
alias ds="docker service"
alias dsip="docker service inspect --format '{{ .NetworkSettings.IPAddress }}' "
# docker network
alias dn="docker network"
# docker volume
alias dv="docker volume"

# ------------------------------ #
#             gradle             #
# ------------------------------ #
alias grdc="gradle clean"
alias grdb="gradle clean build --refresh-dependencies"
alias grdr="gradle bootRun"
alias grdt="gradle test -i --test"

# ------------------------------ #
#              git               #
# ------------------------------ #
alias gp="git pull && git fetch -p"
alias gcr="git commit README.md -m 'Update README'"
alias gci="git commit .gitignore -m 'Update gitignore'"

# ------------------------------ #
#             iExec              #
# ------------------------------ #
alias iexecdev="codium $IEXEC_DEV/iexec-dev.code-workspace"
