# SSH
ssh/
!ssh/.ssh/config

# vscodium
vscodium/.config/VSCodium/**
!vscodium/.config/VSCodium/product.json
!vscodium/.config/VSCodium/User/extensions.list
!vscodium/.config/VSCodium/User/keybindings.json
!vscodium/.config/VSCodium/User/settings.json
!vscodium/.config/VSCodium/User/tasks.json

fonts/
themes/
.env
