[submodule "ohmyzsh"]
	path = zsh/.config/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "z"]
	path = z/.config/z
	url = https://github.com/rupa/z.git
[submodule "nvm"]
	path = nvm/.config/nvm
	url = https://github.com/nvm-sh/nvm.git
