[Desktop Entry]
Type=Application
Exec=slack
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Slack
Name=Slack
Comment[en_US]=
Comment=
